{:output-dir "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/javelin-holochain/19co/-vtvv8h/main.out", :language-out :es5, :optimizations :advanced, :warnings {:single-segment-namespace false}, :output-to "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/javelin-holochain/19co/-vtvv8h/cljs_zome.js", :asset-path "main.out", :output-wrapper true, :source-map false, :target :nodejs, :main boot.cljs.main2545, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__385 0x67503b96 "adzerk.boot_cljs.impl$compile_cljs$handler__385@67503b96"]]}